{% extends "./base.html.twig" %}

{% block title %}
	Garantie pièces direction assistée | La Belle Garantie
{% endblock %}

{% block meta_description %}
Protégez la direction assistée de votre véhicule avec notre garantie de pièces mécaniques ! Découvrez notre couverture complète pour les pièces de la direction assistée.
{% endblock %}

{% block body %}

	{% set vars = {'active': 'nos offres'} %}
	{% include('header.html.twig') with vars %}


	<div class="content">
		<div class="bg_apropos bg-center bg-cover bg-no-repeat relative">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="pt-24 pb-36" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 100%);">
					<h1 class="TekoMedium text-white uppercase text-7xl lg:text-9xl pb-5 px-4 md:pl-8">
						Direction
					</h1>
					<h2 class="TekoLight text-white text-3xl md:text-4xl animation-title px-4 md:pl-8">Définition et composants</h2>
				</div>
			</div>
		</div>

		<div class="py-1 hide-div">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="bg-light px-16 lg:px-24 lg:-mt-28 gap-x-12 gap-y-12 py-2 lg:py-6">
					<div class="lg:col-span-1 row-start-1">

						<p class="TekoRegular text-lg italic py-10">
							Attention : Cette page à pour but de donner une définition des composants. Pour voir les pièces couvertes par nos garanties, référez vous à la page
							<a class="text-red-600" href="#">
								Nos offres
							</a>
						</p>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Direction :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La direction fait référence au système utilisé pour contrôler la direction des roues avant et donc la direction dans laquelle le véhicule se déplace. Il existe deux principaux types de direction de véhicule : la direction à crémaillère et la direction assistée. La direction à crémaillère implique un mécanisme mécanique qui relie le volant au train avant. La direction assistée, quant à elle, utilise une pompe hydraulique pour faciliter le mouvement du volant et offrir un meilleur contrôle de la direction.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Crémaillère :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La crémaillère est un composant mécanique utilisé dans les systèmes de direction de véhicules pour convertir les mouvements rotatifs du volant en mouvements linéaires pour les roues avant.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Vérins de direction :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les vérins de direction sont des composants mécaniques utilisés dans les systèmes de direction de véhicules pour relier les roues avant à la colonne de direction et transmettre les mouvements du volant aux roues. Les vérins de direction sont soumis à des forces importantes pendant le fonctionnement du véhicule et peuvent s'user au fil du temps, ce qui peut affecter la précision et la stabilité de la direction.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								La pompe d'assistance :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La pompe d'assistance est un composant clé dans les systèmes de direction assistée dans les véhicules. Elle fournit une aide supplémentaire pour faciliter le mouvement du volant et offrir un meilleur contrôle de la direction. La pompe d'assistance est alimentée par un fluide hydraulique pressurisé et utilise une pompe à piston pour augmenter la pression du fluide lorsque le conducteur tourne le volant.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Colonne :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La colonne de direction est un composant mécanique qui relie le volant au système de direction dans les véhicules. Elle est située entre le volant et les roues avant et permet de transmettre les mouvements du volant aux roues pour contrôler la direction du véhicule. La colonne de direction peut être fixe ou inclinable, selon les besoins du conducteur. Dans les véhicules modernes, la colonne de direction peut également être ajustable en hauteur pour un ajustement personnalisé.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Valve distributrice :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La valve distributrice est un composant clé dans les systèmes de direction assistée des véhicules. Elle contrôle la direction et la quantité de fluide hydraulique qui circule dans les vérins de direction pour aider à tourner les roues. La valve distributrice est alimentée par une pompe à pistons qui fournit une pression constante de fluide hydraulique dans le système.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Arbre :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Il relie le volant à la direction des roues et permet au conducteur de contrôler la direction du véhicule.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Rotules :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les rotules de direction sont des pièces mécaniques qui se trouvent dans le système de direction d'un véhicule. Elles sont généralement situées à l'extrémité de l'arbre de direction et servent à relier l'arbre de direction à la suspension.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Axes :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les axes de direction font partie intégrante du système de direction d'un véhicule. Ils relient l'arbre de direction aux roues et permettent au conducteur de contrôler la direction du véhicule. Les axes de direction sont généralement constitués de plusieurs pièces, notamment des rotules, des roulements et des bagues d'étanchéité, qui travaillent ensemble pour transmettre la force du volant aux roues.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Cardans :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les cardans de direction sont des pièces mécaniques qui transmettent la force de l'arbre de direction aux roues d'un véhicule. Ils permettent de faire tourner les roues dans la direction souhaitée en réponse au mouvement du volant. Les cardans de direction sont généralement constitués de plusieurs parties, telles que des rotules, des joints homocinétiques et des arbres de transmission, qui travaillent ensemble pour transmettre la force de l'arbre de direction aux roues du véhicule.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Electropompe :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								L'electropompe de direction est un composant électrique qui est utilisé pour actionner le système de direction assistée d'un véhicule. Il s'agit d'une pompe qui fonctionne grâce à l'énergie électrique et qui est reliée à la batterie du véhicule. L'electropompe fournit de l'huile à haute pression au système de direction assistée, ce qui permet au conducteur de tourner le volant de manière plus facile et plus douce.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{% include('footer.html.twig') %}
	{% include('header2.html.twig') with vars %}
{% endblock %}
