{% extends "./base.html.twig" %}

{% block title %}
	Garantie pièces moteur | La Belle Garantie
{% endblock %}

{% block meta_description %}
Protégez le moteur de votre véhicule avec notre garantie de pièces mécaniques ! Découvrez notre couverture complète pour les pièces du moteur, y compris les injecteurs, les pompes à carburant, les soupapes et plus encore.
{% endblock %}

{% block body %}

	{% set vars = {'active': 'nos offres'} %}
	{% include('header.html.twig') with vars %}


	<div class="content">
		<div class="bg_apropos bg-center bg-cover bg-no-repeat relative">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="pt-24 pb-36" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 100%);">
					<h1 class="TekoMedium text-white uppercase text-7xl lg:text-9xl pb-5 px-4 md:pl-8">
						Moteur
					</h1>
					<h2 class="TekoLight text-white text-3xl md:text-4xl animation-title px-4 md:pl-8">Définition et composants</h2>
				</div>
			</div>
		</div>

		<div class="py-1 hide-div">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="bg-light px-16 lg:px-24 lg:-mt-28 gap-x-12 gap-y-12 py-2 lg:py-6">
					<div class="lg:col-span-1 row-start-1">

						<p class="TekoRegular text-lg italic py-10">
							Attention : Cette page à pour but de donner une définition des composants. Pour voir les pièces couvertes par nos garanties, référez vous à la page
							<a class="text-red-600" href="#">
								Nos offres
							</a>
						</p>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Moteur :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Un moteur automobile est un mécanisme qui convertit l'énergie chimique en énergie mécanique pour propulser un véhicule. Il existe différents types de moteurs, tels que les moteurs à combustion interne (essence ou diesel), les moteurs électriques et les moteurs hybrides qui combinent les deux. Chacun de ces types de moteurs a ses propres avantages et inconvénients en termes de coût, de rendement énergétique et d'émissions.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Chemise :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La chemise est un élément mécanique qui entoure le cylindre du moteur et permet de maintenir une température stable ainsi que de lubrifier les pistons.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Pistons et axes :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les pistons et les axes sont des éléments mécaniques qui permettent de transférer la force de combustion aux bielles pour propulser le véhicule.
							</p>
						</div>


						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Segment :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les segments sont des éléments mécaniques qui sont utilisés pour sceller les pistons dans le cylindre.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Bielles :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les bielles sont des éléments mécaniques qui relient les pistons aux manivelles et permettent de transférer la force de combustion aux roues.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Coussinets :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les coussinets sont des éléments mécaniques qui servent à protéger les parties en mouvement du moteur en réduisant les frottements et en amortissant les vibrations.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Vilebrequin :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Le vilebrequin est un élément mécanique qui est connecté aux pistons
							</p>
						</div>


						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Pompe à huile :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La pompe à huile est un élément mécanique qui permet de pomper l'huile vers les différents organes mécaniques du moteur pour les lubrifier et les refroidir.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Chaîne de distribution lubrifiée :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La chaîne de distribution lubrifiée est un élément mécanique qui permet de synchroniser les mouvements des différents organes mécaniques du moteur pour assurer un fonctionnement optimal.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Pignons :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les pignons sont des éléments mécaniques qui permettent de transmettre la puissance du moteur aux roues.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Poussoirs :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les poussoirs sont des éléments mécaniques qui permettent de maintenir les soupapes ouvertes pour permettre l'entrée et la sortie des gaz.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Culbuteurs :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les culbuteurs sont des éléments mécaniques qui permettent de commander les soupapes pour permettre l'entrée et la sortie des gaz.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Culasse :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La culasse est un élément mécanique qui ferme le haut du cylindre et permet de comprimer les gaz pour la combustion.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Bloc moteur :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Le bloc-moteur est la structure principale d'un moteur à combustion interne , c'est là où se trouvent les cylindres, les pistons, les manettes de soupape, les chemises de cylindres, les paliers de vilebrequin, les bielles et les roulements
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Joint d'étanchéité :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les joints d'étanchéité sont des composants utilisés pour empêcher les fuites d'huile, de liquide de refroidissement ou d'autres fluides dans un moteur à combustion interne.Ils sont généralement fabriqués en caoutchouc ou en matériaux composites pour résister à la chaleur et à l'usure
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Courroie de distrubtion :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La courroie de distrubtion est un composant mécanique qui est utilisé pour synchroniser les mouvements des éléments d'un moteur.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Galet de distribution :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les galets tendeurs de distribution sont des composants mécaniques qui sont utilisés pour maintenir la tension de la courroie de distribution d'un moteur.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Joint couvre culasse :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Le joint couvre-culasse est un composant mécanique qui est utilisé pour étanchéifier la jonction entre la culasse et le couvre-culasse d'un moteur à combustion interne
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Joint spi :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Un joint spi(sigle de l'anglais "shaft pilot" ou "arbre pilote" en français) est un type joint utilisé pour étanchéifier la jonction entre un arbre et un composant rotatif, comme un arbre à cames , un arbre de transmission ou un arbre de vilebrequin.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Poulie damper :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Une poulie damper ou poulie amortisseur est un composant mécanique qui est utilisé pour atténuer les vibrations et les forces de torsion dans un moteur à combustion interne.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Collecteur d'admission :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne, le collecteur d'admission fait partie du système d'admission d'air qui dirige l'air ou le mèlange air-carburant du corps de l'accélérateur vers les cylindres individuels
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Coussinets de bielle :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne,les roulements de bielle, aussi appelés roulements de bielle ou simplement roulements de bielle,sont des roulements situés entre les bielles et les fusées de vilebrequin.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Pochette de rodage :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne, une période de rodage est une période qui suit le démarrage d'un nouveau moteur ou d'un moteur reconstruit, au cours de laquelle les composants du moteur sont ajustés les uns aux autres.Au cours de cette période,il est important de suivre un ensemble précis de lignes directrices pour s'assurer que les composants du moteur sont correctement
								<<assis>>
								et que le moteur fonctionne sans à-coup.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Poussoirs :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne, les poussoirs sont de longues tiges de métal minces qui transmettent le mouvement de l'arbre à cames aux soupapes.L'arbre à cames est situé dans le bloc moteur et il a une série de lobes qui ouvrent et ferment les vannes.Les tiges poussoirs sont situés dans la culasse et elles relient les lobes de l'arbre à cames aux culbuteurs , qui à leur tour ouvrent et ferment les vannes.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Support moteur :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans une voiture, le support moteur est un composant mécanique qui est utilisé pour fixer le moteur au châssis du véhicule.Le support moteur est généralement fait de métal et de caoutchouc et il aide à isoler le moteur du reste du véhicule,réduissant les vibrations et de bruit.Les supports de moteur sont situés à divers endroits sur le moteur et la transmission,et ils sont conçus pour maintenir le moteur en place tout en permettant un petit mouvement.Le support moteur permet également de contrôler le mouvement du moteur,en particulier pendant l'accélération et la décélération,ce qui garantit que les composants de transmissions ne sont pas endommagés.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Tresse de palier :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Un dispositif de retenue de roulement,aussi appelé cage de roulement ou séparateur de roulement ,est un composant qui retient et sépare les billes ou les rouleaux dans un roulement.Il est également fait de métal ou d'un matériau plastique renforcé et il est conçu pour maintenir les éléments de roulement en place tout en leur permettant de tourner librement.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Volant moteur :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Un volant moteur est un composant qui se trouve à l'avant de certains types de moteurs ,il est relié à l'arbre à came d'entraînement qui actionne les soupapes
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Rampe d'injecteurs :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne, une rampe d'injection fait partie du système d'injection de carburant qui achemine le carburant dans le moteur.La rampe d'injection est généralement située dans le collecteur d'admission et elle se connecte aux injecteurs de carburant, qui sont responsables de la pulvérisation de carburant dans la chambre de combustion du moteur.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Tuyaux :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne,les tuyaux sont utilisés pour transporter divers fluides comme le liquide de refroidissement,l'huile, le carburant et l'air dans le moteur et ses systèmes connexes.Ils sont généralement faits de caoutchouc ou de plastique renforcé et ils viennent dans différentes formes et tailles pour répondre aux besoins spécifiques du moteur .
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Cache culbuteur :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Dans un moteur à combustion interne, un couvercle de culbuteur , aussi appelé couvercle de soupape,est un couvercle en métal ou en plastique qui se trouve sur la tête de cylindre et couvre le bras de culbuteur et les soupapes.Le couvercle de culbuteur aide à empêcher les débris, la saleté et l'huile d'entrer dans le train de soupape et il aide également à empêcher l'huile de fuir du moteur.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{% include('footer.html.twig') %}
	{% include('header2.html.twig') with vars %}
{% endblock %}
