{% extends "./base.html.twig" %}

{% block title %}
	Garantie pièces transmission | La Belle Garantie
{% endblock %}

{% block meta_description %}
Protégez la transmission de votre véhicule avec notre garantie de pièces mécaniques ! Découvrez notre couverture complète pour les pièces de la transmission, y compris les arbres de transmission, les joints d'accompagnement et bien plus encore.
{% endblock %}

{% block body %}

	{% set vars = {'active': 'nos offres'} %}
	{% include('header.html.twig') with vars %}


	<div class="content">
		<div class="bg_apropos bg-center bg-cover bg-no-repeat relative">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="pt-24 pb-36" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 100%);">
					<h1 class="TekoMedium text-white uppercase text-7xl lg:text-9xl pb-5 px-4 md:pl-8">
						Transmissions/Pont
					</h1>
					<h2 class="TekoLight text-white text-3xl md:text-4xl animation-title px-4 md:pl-8">Définition et composants</h2>
				</div>
			</div>
		</div>

		<div class="py-1 hide-div">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="bg-light px-16 lg:px-24 lg:-mt-28 gap-x-12 gap-y-12 py-2 lg:py-6">
					<div class="lg:col-span-1 row-start-1">

						<p class="TekoRegular text-lg italic py-10">
							Attention : Cette page à pour but de donner une définition des composants. Pour voir les pièces couvertes par nos garanties, référez vous à la page
							<a class="text-red-600" href="#">
								Nos offres
							</a>
						</p>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Transmission :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La transmission dans une voiture est un système mécanique qui transfère la puissance du moteur à la boîte de vitesses, puis aux roues. Le but de la transmission est de faire varier la vitesse et le couple du mouvement rotatif produit par le moteur en vue d'adapter la puissance et la vitesse du véhicule aux différentes conditions de conduite, telles que la vitesse, la charge, la pente et la surface de la route.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Cardans :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les cardans sont des composants de transmission mécanique qui transmettent la puissance du moteur à la boîte de vitesses ou à la boîte de transfert en permettant une rotation de l'arbre de transmission.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Ponts :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les ponts sont des composants mécaniques qui transmettent la puissance du moteur aux roues motrices d'un véhicule tout-terrain.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Arbres de transmission :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les arbres de transmission sont des pièces métalliques qui transmettent la puissance du moteur à la boîte de vitesses ou aux ponts.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Couronne :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La couronne est un composant de la chaîne de transmission qui est utilisé pour transmettre la puissance du moteur à la roue arrière.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Pignons :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les pignons sont des pièces dentées qui s'engrènent avec d'autres pignons ou avec une couronne pour transmettre la puissance du moteur aux roues.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Roulements (AV et AR) :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les roulements sont des composants qui permettent un mouvement rotatif en douceur et sans friction. Les roulements AV et AR sont utilisés pour supporter la rotation des arbres de roue et de transmission.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Boite de transfert :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								La boîte de transfert est un composant de la transmission qui transfère la puissance du moteur aux roues. Elle peut être utilisée pour basculer entre une transmission à quatre roues motrices et une transmission à deux roues motrices.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Soufflet de cardan :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Le soufflet de cardan est un dispositif qui protège le cardan de la poussière et des débris.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Arbre de roue :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								L'arbre de roue est un arbre métallique qui relie le pont ou la boîte de transfert au moyeu de la roue.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Joints d’accompagnement :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les joints d'accompagnement sont des composants qui permettent la rotation de l'arbre de transmission sans transmission de couple.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Moyeux :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les moyeux sont des composants qui supportent la rotation des roues.
							</p>
						</div>

						<div class="py-2">
							<h2 class="font-bold text-2xl lg:text-3xl TekoMedium text-red-600">
								Paliers :
							</h2>
							<p class="TekoRegular lg:text-2xl text-xl granite-gray">
								Les paliers sont des composants qui permettent un mouvement rotatif en douceur et sans friction dans la transmission.
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	{% include('footer.html.twig') %}
	{% include('header2.html.twig') with vars %}
{% endblock %}
