{% extends "./base.html.twig" %}

{% block title %}
	Informations sur les cookies | La Belle Garantie
{% endblock %}

{% block meta_description %}
Consultez notre page d'informations détaillées pour tout savoir sur les cookies, leur utilisation et leur impact sur votre vie privée en ligne. Restez informé pour naviguer en toute sécurité sur le web.
{% endblock %}

{% block body %}

	{% set vars = {'active': 'nos offres'} %}
	{% include('header.html.twig') with vars %}


	<div class="content">

		<div class="bg-offres bg-center bg-cover bg-no-repeat relative">
			<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
				<div class="pt-24 pb-36" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 100%);">
					<h1 class="TekoMedium text-white uppercase text-7xl lg:text-9xl pb-5 px-4 md:pl-8">
						INFORMATIONS SUR LES COOKIES
					</h1>
				</div>
			</div>
		</div>

		<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4 my-4 text-lg" style="color: #333333;">
			<h2 class="text-center text-3xl font-bold TekoMedium my-16">Politique sur les cookies</h2>
			<p class=" TekoRegular text-xl">Dernière mise à jour : 30 juin 2020</p>
			<p class="my-2 TekoMedium text-md">
				Cette politique sur les cookies explique ce que sont les cookies et comment nous les utilisons. Vous devriez lire cette politique afin que vous puissiez comprendre quel type de cookies nous utilisons, ou les informations que nous recueillons à l’aide de cookies et comment ces informations sont utilisées. Notre Politique de Cookies est maintenue par le Générateur de Politique de Cookies. Les cookies ne contiennent généralement pas d’informations qui identifient personnellement un utilisateur, mais les informations personnelles que nous stockons à votre sujet peuvent être liées aux informations stockées dans et obtenues de Cookies. Pour plus d’informations sur la façon dont Nous utilisons, stockons et protégeons vos données personnelles, consultez notre Politique de confidentialité. Nous ne stockons pas d’informations personnelles sensibles, telles que les adresses postales, les mots de passe de compte, etc. dans les cookies que nous utilisons.</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">Interprétation/définitions
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="text-2xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">
				Interprétation</p>
			<p class="my-2 TekoMedium text-md">
				Les mots dont la lettre initiale est majuscule ont un sens défini dans les conditions suivantes. Les définitions suivantes ont la même signification, qu’elles apparaissent au singulier ou au pluriel.
			</p>
			<p class="text-xl  lg:text-left TekoLight  tracking-wide  font-bold py-4 lg:py-3">
				<span class="text-2xl TekoRegular">
					Société
				</span>
				(dénommée "l’entreprise", "Nous", "Nous" ou "Notre" dans cette politique de cookies) se réfère à l’étiquette garantie, 37 Avenue Général de Gaulle 69300 Caluire-et-Cuire
			</p>
			<p class="text-xl  lg:text-left  TekoLight tracking-wide  font-bold py-4 lg:py-3">
				<span class="text-2xl TekoRegular">Vous
				</span>se réfère à la personne qui accède ou utilise le site Web, ou une entreprise, ou toute entité juridique au nom de laquelle cette personne accède ou utilise le site Web, le cas échéant.
			</p>
			<p class="text-xl  lg:text-left  TekoLight tracking-wide  font-bold py-4 lg:py-3">
				<span class="text-2xl TekoRegular">
					Les cookies
				</span>
				sont de petits fichiers qui sont placés sur votre ordinateur, appareil mobile ou tout autre appareil par un site Web, contenant des détails de votre historique de navigation sur ce site Web parmi ses nombreuses utilisations.
			</p>
			<p class="text-xl  lg:text-left  TekoLight tracking-wide  font-bold py-4 lg:py-3">
				<span class="text-2xl TekoRegular">
					Le site Web
				</span>
				fait référence à labelle garantie, accessible à partir de l'adresse http://www.labellegarantie.com/.
			</p>

			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">L’utilisation des cookies
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="text-2xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">
				Type de cookies que nous utilisons
			</p>
			<p class="my-2 TekoMedium text-md">Les cookies peuvent être "persistants" ou "Session" Cookies. Les cookies persistants restent sur votre ordinateur personnel ou votre appareil mobile lorsque vous êtes déconnecté, tandis que les cookies de session sont supprimés dès que vous fermez votre navigateur web. Nous utilisons à la fois des cookies de session et des cookies persistants aux fins indiquées ci-dessous :
			</p>
			<p class="text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">
				Cookies nécessaires / essentiels
			</p>
			<p class="my-8 TekoMedium text-md">
				Type : Cookies de session
			</p>
			<p class="my-8 TekoMedium text-md">
				Administré par : Nous
			</p>
			<p class="my-2 TekoMedium text-md">
				Objectif : Ces cookies sont essentiels pour vous fournir les services disponibles sur le site Web et vous permettre d’utiliser certaines de ses fonctionnalités. Ils aident à authentifier les utilisateurs et à prévenir l'utilisation frauduleuse de comptes d’utilisateurs. Sans ces Cookies, les services que Vous avez demandés ne peuvent pas être fournis, et Nous n’utilisons ces Cookies que pour Vous fournir ces services.
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">CONSENTEMENT
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="text-2xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">
				Comment obtenez-vous mon consentement ?
			</p>
			<p class="my-2 TekoMedium text-md">
				Lorsque vous nous fournissez vos renseignements personnels pour conclure une transaction, vérifier votre carte de crédit, passer une commande, planifier une livraison ou retourner un achat, nous présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous les utilisions à cette fin uniquement.
								
								                Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilité de refuser.
			</p>
			<p class="text-2xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3">
				Comment puis-je retirer mon consentement ?
			</p>
			<p class="my-2 TekoMedium text-md">Si après nous avoir donné votre consentement, vous changez d’avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant à contact@labelgarantie.com ou par courrier à : Label Garantie 37 Avenue Général de Gaulle 69300 Caluire-et-Cuire, Lyon, 69300, France
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">DIVULGATION
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-2 TekoMedium text-md">Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire ou si vous violez nos Conditions Générales de Vente et d’Utilisation.
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">SÉCURITÉ</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-2 TekoMedium text-md">Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues, détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">MODIFICATIONS APPORTÉES À LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-2 TekoMedium text-md">Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment, donc veuillez s’il vous plait la consulter fréquemment. Les changements et les clarifications prendront effet immédiatement après leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu’elle a été mise à jour, pour que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et dans quelles circonstances nous les divulguons, s’il y a lieu de le faire.
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">Vos choix concernant les cookies
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-1 TekoMedium text-md">Si vous préférez éviter l’utilisation de cookies sur le site Web, vous devez d’abord désactiver l’utilisation de cookies dans votre navigateur, puis supprimer les cookies enregistrés dans votre navigateur associé à ce site Web. Vous pouvez utiliser cette option pour empêcher l’utilisation de Cookies à tout moment.
			</p>
			<p class="my-1 TekoMedium text-md">Si vous n’acceptez pas nos cookies, il se peut que vous éprouviez des inconvénients dans votre utilisation du site Web et que certaines fonctionnalités ne fonctionnent pas correctement.
			</p>
			<p class="my-8 TekoMedium text-md">Si vous souhaitez supprimer des cookies ou demander à votre navigateur Web de supprimer ou de refuser les cookies, veuillez consulter les pages d’aide de votre navigateur Web.
			</p>
			<p class="my-1 TekoMedium text-md">
				Pour le navigateur web Chrome, s’il vous plaît visitez cette page de Google : https://support.google.com/accou
			</p>
			<p class="my-1 TekoMedium text-md">Pour le web Internet Explorer navigateur, veuillez visiter cette page de Microsoft : http://support.microsoft.com/kb/2
			</p>
			<p class="my-1 TekoMedium text-md">
				Pour le navigateur web Firefox, s’il vous plaît visitez cette page de Mozilla : https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-sites-stockés
			</p>
			<p class="my-1 TekoMedium text-md">
				Pour le navigateur Web Safari, veuillez visiter cette page à partir d’Apple : https://support.apple.com/guide/s cookies-and-website-data-sfri11471/mac
			</p>
			<p class="my-1 TekoMedium text-md">
				Pour tout autre navigateur Web, veuillez visiter les pages Web officielles de votre navigateur Web.
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">Plus d’informations sur les cookies
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-1 TekoMedium text-md">Vous pouvez en savoir plus sur les cookies dans
				<spam class="link-cgu">
					l’article "Que sont les cookies".</spam>
			</p>
			<h2 class="text-center text-3xl  lg:text-left  TekoMedium tracking-wide  font-bold py-4 lg:py-3">Contactez-nous
			</h2>
			<hr class="border-top-red my-1"/>
			<p class="my-3 TekoMedium text-md">Si vous avez des questions sur cette politique de cookies, Vous pouvez nous contacter :
			</p>
			<p class="my-3 TekoMedium text-md">
				Par courriel : contact@labelgarantie.com
			</p>
			<p class="my-3 TekoMedium text-md">
				En visitant cette page sur notre site web : http://www.labellegarantie.com/
			</p>
			<p class="my-3 TekoMedium text-md">
				Par téléphone : 04-87-91-49-74
			</p>

		</div>
	</div>
	{% include('footer.html.twig') %}
	{% include('header2.html.twig') with vars %}
{% endblock %}
