<div class="flex flex-row sticky  bg-white h-full z-50" style="top:96%; background-color: #2a3039;" >
    <div class="content-center mx-auto my-auto text-white flex pl-1 flex-row  text-2xl bg-red-600 TekoMedium" style="width: 17%; height: 100%; border-right:1px solid #DC2626">
        <span class="pr-1 lg:block xl:block 2xl:block hidden my-auto"> Nos derniers sinistres payés</span>
        <span class="pr-1 lg:hidden xl:hidden 2xl:hidden block my-auto  text-sm ">Sinistres</span>
        <svg class="pt-1 lg:block xl:block 2xl:block hidden" width="24px" height="24px" viewBox="-19.04 0 75.804 75.804" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>

            <g id="SVGRepo_iconCarrier"> <g id="Group_65" data-name="Group 65" transform="translate(-831.568 -384.448)"> <path id="Path_57" data-name="Path 57" d="M833.068,460.252a1.5,1.5,0,0,1-1.061-2.561l33.557-33.56a2.53,2.53,0,0,0,0-3.564l-33.557-33.558a1.5,1.5,0,0,1,2.122-2.121l33.556,33.558a5.53,5.53,0,0,1,0,7.807l-33.557,33.56A1.5,1.5,0,0,1,833.068,460.252Z" fill="#ffffff"/> </g> </g>

        </svg>
    </div>
    <div class="ticker-wrapper-h py-1" style="width: 83%;">
        <ul class="news-ticker-h" id="news-ticker-h" >

        </ul>
    </div>
</div>