{% extends "./base.html.twig" %}

{% block title %}
	Protection des données personnelles | La Belle Garantie
{% endblock %}

{% block meta_description %}
La protection de vos données personnelles est notre priorité absolue. Consultez notre page d'informations pour tout savoir sur notre politique de confidentialité et la façon dont nous protégeons vos données.
{% endblock %}

{% block body %}

	{% set vars = {'active': 'nos offres'} %}
	{% include('header.html.twig') with vars %}

	<div class="content">

	<div class="bg-offres bg-center bg-cover bg-no-repeat relative">
		<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
			<div class="pt-24 pb-36" style="background-image: linear-gradient(180deg,rgba(0,0,0,0.12) 0%,rgba(255,255,255,0) 100%);">
				<h1 class="TekoMedium text-white uppercase text-7xl lg:text-9xl pb-5 px-4 md:pl-8">
					DONNÉES PERSONNELLES
				</h1>
			</div>
		</div>
	</div>

	<div class="xl:container xl:px-48 lg:px-24 md:px-16 px-4">
		<p class="my-6 text-xl  TekoMedium  " style="color: #333333;">Dans le cadre de l’utilisation du Site<spam class="link-cgu">
				www.labellegarantie.com</spam> LABEL GARANTIE va être amené à procéder à la collecte de vos Données personnelles en vue de permettre la réception et le traitement d’informations.
		</p>
		<p class="my-8 text-xl  TekoMedium " style="color: #333333;">Cette politique de confidentialité s’applique au client et visiteurs du Site<spam class="link-cgu">
				www.labellegarantie.com</spam> et vise à protéger et sécuriser les Données, à caractère personnel, collectées dans le cadre des activités de LABEL GARANTIE et de la législation en vigueur, ainsi qu’à respecter la vie privée.</p>
		<p class="my-2 text-xl  TekoMedium " style="color: #333333;">Vous êtes informés du caractère obligatoire ou facultatif des Données à collecter. Les Données signalées comme obligatoires sont exigées par la loi, pour la bonne exécution du service. Le défaut de communication des données demandées, peut avoir des effets juridiques ou économiques négatifs pour l’utilisateur ou le client final. Par exemple, l’absence de transmission de votre adresse email empêchera l’envoi de vos identifiants permettant de vous connecter à votre espace Client numérique.</p>
		<p class="my-2 text-xl  TekoMedium " style="color: #333333;">La société LABEL GARANTIE SAS, Société de courtage d’assurance, dont le siège social est situé 37 avenue Général de Gaulle 69300 CALUIRE ET CUIRE immatriculé auprès du registre de commerce et des sociétés de Lyon N° 882 077 696, enregistré à l’ORIAS sous le N° 200 027 19 est responsable du traitement de vos données. Dans le cadre de l’exécution de ses contrats, LABEL GARANTIE SAS est expressément mandatée par l’Assureur, personne morale garantissant le risque et l’objet du contrat. Les parties sont ainsi coresponsables de la gestion des Données.</p>
		<p class="my-2 text-xl  TekoMedium  " style="color: #333333;">La présente politique de confidentialité s’applique à tous les clients, utilisateurs et internautes naviguant sur le Site<spam class="link-cgu">
				www.labellegarantie.com</spam>
		</p>
		<h2 class="text-center text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3" style="color: #333333;">1.Type d’informations collectées
		</h2>
		<hr class="border-top-red my-1"/>
		<p class="my-5 text-xl  TekoMedium" style="color: #333333;">
			Pour permettre, la bonne exécution du contrat de Garantie, LABEL GARANTIE collecte les Données suivantes :
		</p>
		<p class=" text-xl  TekoMedium " style="color: #333333;">
			<span class="text-2xl TekoRegular">-</span>Données contractuelles : adresse postale, coordonnées téléphoniques et adresse email…
		</p>
		<p class=" text-xl  TekoMedium " style="color: #333333;">
			<span class="text-2xl TekoRegular">-</span>Données ID : nom, prénom…
		</p>
		<p class=" text-xl  TekoMedium " style="color: #333333;">
			<span class="text-2xl TekoRegular">-</span>Données financières selon le moyen de paiement
		</p>
		<p class=" text-xl  TekoMedium " style="color: #333333;">
			<span class="text-2xl TekoRegular">-</span>Données de connexion : ID connexion, traces de connexion
		</p>
		<h2 class="text-center text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3" style="color: #333333;">2.Finalité du traitement
		</h2>
		<hr class="border-top-red my-1"/>
		<p class="my-5 text-xl  TekoMedium" style="color: #333333;">
			Vos Données seront traitées et communiquées aux fins mentionnées ci-dessous, conformément à la législation en vigueur :
		</p>
		<p class=" text-xl  TekoRegular " style="color: #333333;">
			<span class="text-2xl TekoMedium">
				&#10003; Exécution du Service :
			</span>La fourniture de vos Données conditionne la conclusion de votre contrat.
		</p>
		<p class=" my-3 text-xl  TekoRegular " style="color: #333333;">
			Le traitement et le suivi des Données est nécessaire pour la mise en place, la facturation et l’encaissement des cotisations et primes, l’orientation vers votre espace Client, le traitement et le suivi de vos demandes (résiliation, réclamation, courrier entrant, impayé…).
		</p>
		<p class="  my-3 text-xl  TekoRegular " style="color: #333333;">
			<span class="text-2xl TekoMedium">
				&#10003; Statistiques :
			</span>
			Le traitement des Données est nécessaire pour la réalisation de statistiques dans le but de mieux évaluer les besoins et intérêts des utilisateurs et Clients du Site
			<spam class="link-cgu">www.labellegarantie.com
			</spam>
			et garantir son optimisation.
		</p>
		<p class=" my-3 text-xl  TekoRegular " style="color: #333333;">
			<span class="text-2xl TekoMedium">
				&#10003;Marketing :
			</span>
			Le traitement des Données est nécessaire pour la réalisation d’opérations de marketing direct, afin de pouvoir vous adresser des informations complémentaires voire des offres adaptées à vos besoins en temps voulu et de manière fiable.
		</p>
		<p class=" text-xl  TekoRegular " style="color: #333333;">
			<span class="text-2xl TekoMedium">
				&#10003;Gestion des données Test :
			</span>
			e traitement des Données est nécessaire pour la maintenance, la mise à jour, la sécurisation et la modernisation du Site
			<spam class="link-cgu">www.labellegarantie.com
			</spam>
			Dans ce cas, les Données sont préalablement anonymisées.
		</p>
		<p class="  my-5 text-xl  TekoRegular " style="color: #333333;">
			Les données peuvent être conservées pour une durée de cinq ans à compter de la fin de la relation contractuelle pour des raisons d’audit et de contrôle des assureurs ou encore pour pallier un litige, puis archivées pendant cinq ans à compter de la fourniture du service, afin de permettre aux coresponsables du traitement de défendre leurs droits en cas de litige.
		</p>
		<h2 class="text-center text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3" style="color: #333333;">3.Destinataires des Données
		</h2>
		<hr class="border-top-red my-1"/>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">
			Les Données collectées sont strictement confidentielles et destinées exclusivement aux services internes LABEL GARANTIE SAS et aux Assureur(s) partenaire(s), garantissant le risque, qui s’engagent à ne pas les céder, louer ou transmettre à des tiers autres que des sous-traitants et/ou des prestataires de services (prestataires informatiques, marketing en ligne, enquêtes d’opinion et études de marché) assurant, sur instruction et pour le compte de LABEL GARANTIE SAS, la réalisation de prestations de services spécifiques et/ou la transmission d’information complémentaires mais également des opérations de promotion et/ou de prospection commerciale pour le compte de LABEL GARANTIE SAS.
		</p>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">
			Les Données collectées et traitées peuvent être transmises aux autorités compétentes, à leur demande, afin de se conformer aux obligations légales incombant à LABEL GARANTIE.
						
						        Ces données pourront également être traitées par nos sous-traitants en charge des opérations d’hébergement, de maintenance ou d’infogérance.
		</p>
		<h2 class="text-center text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3" style="color: #333333;">4.Mesures de sécurisation des Données
		</h2>
		<hr class="border-top-red my-1"/>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">LABEL GARANTIE SAS met en oeuvre toutes les mesures techniques et organisationnelles nécessaires pour que les Données soient traitées en toute sécurité et confidentialité, afin d’éviter toute perte, endommagement ou déformation ou qu’un tiers non autorisé y ait accès.
		</p>
		<h2 class="text-center text-4xl  lg:text-left  TekoRegular tracking-wide  font-bold py-4 lg:py-3" style="color: #333333;">5.Droits des personnes concernées
		</h2>
		<hr class="border-top-red my-1"/>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">
			À tout moment, lorsque les conditions d’exercice de ces droits sont réunies, vous disposez du droit d'accès, de rectification, d’opposition, d’effacement et de demander la portabilité et la limitation des données qui vous concernent conformément à la Loi Informatique et Libertés du 6 janvier 1978 modifiée.</p>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">
			Toute demande d'exercice de vos droits, question, réclamation concernant le traitement des Données par les services de LABEL GARANTIE doit être transmise par courrier à l’adresse suivante : LABEL GARANTIE – Service Conformité – 37 avenue Général de Gaulle 69300 CALUIRE ET CUIRE, accompagnée de la photocopie d'un justificatif d'identité valide.</p>
		<p class="my-5 text-xl  TekoRegular" style="color: #333333;">
			Nous pouvons mettre à jour cette politique de confidentialité à tout moment. Nous vous conseillons donc de vous y référer régulièrement afin de vous informer sur les dernières informations relatives à nos pratiques en matière de confidentialité des données.</p>


	</div>
</div>
{% include('footer.html.twig') %}
{% include('header2.html.twig') with vars %}{% endblock %}
