<div style="text-align:center; color:grey; font-size:12px;">
	LABEL GARANTIE SAS, société de courtage en assurance, Gestion et couverture des risques de pannes mécaniques<br>
	882 077 696 RCS Lyon - Intermédiaire immatriculé à l'ORIAS sous le n°200 027 19<br>
	Soumise au contrôle de l'Autorité de Contrôle Prudentiel et de Résolution (ACPR), 4 place de Budapest - CS 92459 - 75436 Paris Cedex 9<br>
</div>
